@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: linear-gradient(90deg, rgba(72,57,163,1) 0%, rgba(108,90,224,1) 35%);
    --foreground: 222.2 84% 4.9%;
  }

}
 
@layer base {
  body {
    background: var(--background);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
  }
}